<header>
	<div class="fade-in-left">
		<h1>
		<a href="/">バドミントン教室</a>
		</h1>
	</div>
	
	<nav class="pc-nav">
		<div class="fade-in-right">
		<ul>
			<li><a href="#a">自己紹介</a></li>
			<li><a href="#b">概要</a></li>
			<li><a href="#c">予約・お問い合わせ</a></li>
		</ul>
		</div>
	</nav>
</header>

<div class="main-visual">
	<div class="fade-in-bottom">
		<h2>Badminton Lesson</h2>
		<a href="#" class="button">予約</a>
	</div>
</div>

<section class="works-example">
	<h2 id="a">自己紹介</h2>
	<div class="main">
		<div class="phot">	
		<img src="<%= image_path('cc.jpg') %>" width="240" height="400" alt="自己紹介の写真です">
		</div>
		<div class="Text">
		<p>小学３年生からバドミントンを始めました。大学のバドミントン部に所属していましたが、去年8月に引退し現在は趣味程度に身体を動かしています。<br>
		バドミントンは、年齢・性別を問わず楽しめる生涯スポーツですが、パワー、瞬発力、持久力も必要とされる奥深く激しいスポーツです。<br>
		初心者から中級者まで、小学生から高校生の方までバドミントンが上手くなりたい方のための教室です。私の１３年間続けてきたバドミントンでの経験を活かし、わかりやすく指導いたします！コロナで思うように部活ができず、もっと練習したい方や、バドミントンを始めたいけど指導者が居なくて困っている方など経験問わず、是非一度お問い合わせください！</p>
		</div>
	</div>
</section>

<section class="point">
	<h2 id="b">概要</h2>
	<div class="point-a">
		<h3>対象</h3>
		<p>・小・中・高校生の初心者〜中級者</p>
		<h3>場所</h3>
		<p>・参加者様に体育館をとっていただくか、私の方で体育館をとらせていただきます(私が体育館を撮る場合は杉並区内の体育館になります。)</p>
		<h3>日時</h3>
			<p>・3月までは土日、平日問わず受け付けております。予約フォームでご確認ください。</p>
		<h3>持ち物</h3>
			<p>・参加者様ご自身に合ったシャトルをお持ち下さい。</p>
			<p>・ラケット</p>
			<p>・シューズ</p>
			<p>・運動着</p>
			<p>・飲み物</p>
		<h3>料金</h3>
	</div>
	<table>
		<tr>
			<th>個人レッスン(１名)</th>
			<th>個人レッスン(2~4名)</th>
			<th>個人レッスン(5名~)</th>
		</tr>
		<tr>
			<th>2,000円/人・時<br>+<br>施設使用料</th>
			<th>1,500円/人・時<br>+<br> 施設使用料</th>
			<th>1,000円/人・時<br>+<br> 施設使用料</th>
		</tr>
	</table>
</section>

<section class="apo">
	<h2 id="c">予約・お問い合わせ</h2>
</section>

<footer>
	<div class="footer-button">
	<p>
		<a href="#">プライバシーポリシー</a>
	</p>
	<p>
		<a href="#">お問い合わせ</a>
	</p>
	</div>
	<small class="copy"><p>@ バドミントン 教室</p></small>
</footer>
