// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
	font-family: "ryo-gothic-plusn", sans-serif;
	background-color: #ffb8b8;
}

header {
	width: 100%;
	padding: 30px 4% 10px;
	background-color: #2b2b3d;
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	z-index: 500;
}

.fade-in-left h1 {
	margin:0;
	padding:0;
	font-size: 20px;
	font-family: "ryo-gothic-plusn";
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style:none;
	margin:0;
	display:flex;
}

li {
	margin:0 0 0 15px;
	font-size: 14px;
}

nav {
	margin:0 0 0 auto;
}

.main-visual {
	display: flex;
	background:#ffb8b8;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #fff;
}

.fade-in-bottom {
	opacity:0;
	animation-name: fadein-bottom;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-fill-mode:forwards;

}
@keyframes fadein-bottom{
	0%{
		opacity:0;
		transform:translateY(20px);
	}
	100%{
		opacity:1;
		transition: translateY(0);
	}
}

.fade-in-right {
	opacity:0;
	animation-name: fadein-right;
	animation-duration: 1.5s 0;
	animation-timing-function: ease-out;
	animation-fill-mode:forwards;
}
@keyframes fadein-right{
	0%{
		opacity:0;
		transform:translateX(0);
	}
	100%{
		opacity:1;
		transition: translateX(20px);
	}
}
.fade-in-left {
	opacity:0;
	animation-name: fadein-left;
	animation-duration: 1.5s 0;
	animation-timing-function: ease-out;
	animation-fill-mode:forwards;
}
@keyframes fadein-left{
	0%{
		opacity:0;
		transform:translateX(0);
	}
	100%{
		opacity:1;
		transition: translateX(-20px);
	}
}

a.button {
	display: block;
	width: 250px;
	margin:0 auto;
	padding:15px 30px;
	text-align: center;
	border: 1px solid #fff;
	transition: all .3s ease-out;
}

.fade-in-right a {
	padding: 5px 3px;
}
.fade-in-right a:hover {
	text-decoration: underline;
	
}
.button:hover{
	color:black;
	background-color: white;
	transition: 0.5s;
	opacity: 0.7;
}

.works-example {
	background-color: #ffb8b8;
}

.works-example h1 {
	background-color: blue;
	padding-top: 70px;
	margin-bottom: 100px;
	text-align: center;

}

.Text {
	background-color: #ffb8b8
	;
	margin-top: 100px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 100px;
}

.main {
	display: flex;
}

.phot {
	margin: 50px 12px 100px 50px;
}

.works-example h2 {
	font-weight: 200;
	text-align: center;
	background-color:#2b2b3d; 
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white; 
}

.point  h2 {
	font-weight: 200;
	text-align: center;
	background-color:#2b2b3d; 
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white; 
}
.point p {
	margin-bottom:20px;
	margin-top: 10px;
	margin-left: 27px;
}

table {
	border-collapse: collapse;
	border-spacing:0;
	table-layout: fixed;
	width:600px;

}

table tr {
	border-bottom: solid 1px #ddd;
}

table th {
	text-align: center;
	padding: 7px;
	border-right: solid 1px #ddd;
	width:155px;
	background-color: #2b2b3d;
	color: white;
}

h3 {
	border:solid 1px #2b2b3d;
	width:100px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30px;
}
footer {
	background-color: #2b2b3d;
}
small.copy p{
	color:white;
	font-size: 12px;
	text-align: center;
}

.point {
	padding-bottom: 100px;
}
.point-a p {
	font-size:20px;
}
.footer-button {
	display: flex;
	justify-content: center;
}
.footer-button a {
	margin-right: 30px;
	border: solid 1px ;
	padding:5px 10px;
}
.footer-button a:hover {
	color:black;
	background-color: white;
	transition: 0.5s;
	opacity: 0.7;
}
.apo h2 {
	font-weight: 200;
	text-align: center;
	background-color:#2b2b3d; 
	margin-top: 0;
	margin-bottom: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white; 
}
